/*
  Avenir
*/

@font-face {
  font-family: 'AvenirBook';
  font-weight: normal;
  src: url('~@/assets/fonts/AvenirBook.woff');
}

@font-face {
  font-family: 'AvenirRoman';
  font-weight: normal;
  src: url('~@/assets/fonts/AvenirRoman.woff');
}

@font-face {
  font-family: 'AvenirMedium';
  font-weight: normal;
  src: url('~@/assets/fonts/AvenirMedium.woff');
}

/*
  Soleil
*/

@font-face {
  font-family: 'Soleil';
  font-weight: normal;
  src: url('~@/assets/fonts/Soleil.woff');
}
