<app-admin-navbar [currentTab]=0></app-admin-navbar>
<div id="dashboard-wrapper">
    <div class="dashboard-tabs">
        <p class="tab first-tab selected-tab smallText" id="pendientes" (click)="showPendientes()">Pendientes</p>
        <p class="tab smallText" id="realizados" (click)="showRealizados()">Realizados</p>
        <div class="tabs-searchbar">
            <input type=text placeholder="Buscar Reembolso" (keyup)="filterList(search.value)" #search>
            <i class="fas fa-search"></i>
        </div>
    </div>
    <div class="dashboard-container" *ngIf="pendientes">
        <div class="dashboard-table">
            <div class="dashboard-header">
                <p>Usuario</p>
                <p>Cuenta</p>
                <p>Reembolso</p>
                <p>Tiempo de Petición</p>
                <p>Paypal</p>
            </div>
            <div class="dashboard-row" *ngFor="let reembolso of reembolsosPendingFiltered">
                <p>{{reembolso.userName}}</p>
                <p>{{reembolso.accountRef}}</p>
                <p>$ {{reembolso.amount}}</p>
                <p>{{reembolso.time}}</p>
                <p>{{reembolso.paypal}}</p>
                <div class="checkbox-container">
                    <!--<img src="../../../assets/img/paypalGrey.png" class="paypal-logo">-->
                    <div class="dashboard-checkbox" (click)="checkReembolso(reembolso.id)"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-container" *ngIf="realizados">
        <div class="dashboard-table">
            <div class="dashboard-header">
                <p>Usuario</p>
                <p>Cuenta</p>
                <p>Reembolso</p>
                <p>Tiempo de Petición</p>
                <p>Tiempo de Cierre</p>
            </div>
            <div class="dashboard-row" *ngFor="let reembolso of reembolsosDoneFiltered">
                <p>{{reembolso.userName}}</p>
                <p>{{reembolso.accountRef}}</p>
                <p>$ {{reembolso.amount}}</p>
                <p>{{reembolso.time}}</p>
                <p>{{reembolso.closeTime}}</p>
            </div>
        </div>
    </div>
</div>
