<app-navbar [currentTab]=1></app-navbar>
<div class="brokers-wrapper" *ngIf="!showAddAccount && !showAddExistingAccount">
    <p class="brokers-title bold">BROKERS</p>
    <div id="brokers-container">
        <div class="broker" *ngFor="let broker of brokerList">
            <div class="broker-header">
                <img [src]="broker.path" class="broker-img">
                <p class="broker-name"><b>{{broker.name}}</b></p>
                <p class="cuenta-add smallText lightGreenText" (click)="toggleBrokerModal(broker.id,broker.name,broker.page,broker.path,broker.brokerID,broker.email,broker.hide)">+ Añadir Cuenta</p>
            </div>
            <pre class="smallText">{{broker.description}}</pre>
        </div>
    </div>
</div>

<div class="modal" *ngIf="showBrokerModal">
    <div class="modal-background" (click)='toggleBrokerModal("","","","","","",false)'></div>
    <div class="broker-modal">
        <div class="edit-header" (click)='toggleBrokerModal("","","","","","",false)'>
            <p class="smallText"><i class="fas fa-arrow-left" style="margin-right: 15px;"></i>Cancelar</p>
        </div>
        <div class="edit-body">
            <p class="bold modal-title">Agregar Cuenta con {{brokerName}}</p>
            <button class="text14 bold edit-btn lightGreenBackground" id="broker-new-btn" (click)="toggleNewBrokerAccount()" *ngIf="!brokerHide">Cuenta Existente</button>
            <button class="text14 bold edit-btn lightGreenBackground" id="broker-existing-btn" (click)="toggleExistingBrokerAccount()">Crear Cuenta</button>
        </div>
    </div>
</div>


<div class="brokers-wrapper" *ngIf="showAddAccount">
    <div class="add-account-wrapper">
        <a (click)="toggleAddAccount()"><i class="fas fa-arrow-left" style="margin-right: 15px;"></i>Brokers</a>
    </div>
    <div class="add-broker-info">
        <img src={{brokerPath}} class="add-broker-img"> 
        <p class="broker-name"><b style="text-transform: uppercase;">{{brokerName}}</b></p>
    </div>
    <div class="add-broker-body">
        <!--<div class="step">
            <div class="step-label"><p class="bold smallText">Paso 1:</p></div>
            <div class="step-body">
                <p class="bold step-title">Abrir una cuenta en {{brokerName}}</p>
                <a class="step-btn" href="{{brokerPage}}" target="_blank">Abrir {{brokerName}}</a>
                <div class="checkbox-container">
                    <div id="step-1-checkbox" class="step-checkbox" (click)="toggleCheckBox1()"></div><p class="bold">Ya tengo una cuenta en {{brokerName}}.</p>
                </div>
            </div>
        </div>-->
        <div class="step-full" id="step-2">
            <div class="step-label"><p class="bold smallText">Paso 1:</p></div>
            <div class="step-body">
                <p class="bold step-title">Ingresar tu número de cuenta de {{brokerName}}</p>
                <input type="text" class="step-input" (keypress)="numberOnly($event)" #cuenta placeholder="Número de cuenta" id="cuenta" (keyup)="changeAccount(cuenta.value)">
                <p class="error-text">{{errorText}}</p>
                <div class="checkbox-container">
                    <div id="step-2-checkbox" class="step-checkbox" (click)="toggleCheckBox2()"></div><p style="color:rgba(255, 255, 255, 0.7)">Acepto los <span class="bold" style="color: white;">Términos y condiciones</span>
                </div>
            </div>
        </div>
        <div class="step-full disabled" id="step-3">
            <div class="step-label"><p class="bold smallText">Paso 2:</p></div>
            <div class="step-body">
                <p class="bold step-title">Enviar un correo a {{brokerName}}</p>
                <div class="step-3-email-container">
                    <p class="email-explain">Para finalizar el proceso de vinculación de cuenta debes enviar un correo al broker comunicándole el cambio. Haz click en el botón para abrir tu servicio de correo electrónico y finalizar el proceso. Es importante que no modifiques los contenidos del correo para que la operación sea exitosa.</p>
                    <a href="mailto:{{brokerEmail}}?subject={{accountSubject}}&body={{mailBody}}"><button class="step-btn smallText" id="email-btn" (click)="createAccount(userID,userName,accountNumber,brokerName,brokerPath)">Mandar Correo</button></a>
                    <p class="email-explain" id="second-option">Alternativamente, si deseas mandar el correo de manera manual, puedes hacer click aquí:</p>
                    <button class="step-btn smallText" id="email-btn" (click)="toggleMailModal()">Mostrar datos para mandar correo</button>
                    <div class="modal" *ngIf="showMailModal">
                        <div class="modal-background" (click)='toggleMailModal()'></div>
                        <div class="email-modal">
                            <div class="edit-header" (click)='toggleMailModal()'>
                                <p class="smallText"><i class="fas fa-arrow-left" style="margin-right: 15px;"></i>Cancelar</p>
                            </div>
                            <div class="edit-body">
                                <div class="email-popup">
                                    <p class="popup-text">Copia y pega los siguientes datos para mandar tu correo.</p>
                                    <div class="step-3-email">
                                        <div class="email-header">
                                            <p><span class="bold">Destinatario:</span> {{brokerEmail}}</p>
                                            <p><span class="bold">Asunto:</span> {{accountSubject}}</p>
                                        </div>
                                        <pre class="smallText">
                                            {{mailBodyNormal}}
                                        </pre>
                                    </div>
                                    <p class="popup-error">{{errorText}}</p>
                                    <button class="step-btn smallText popup-btn" (click)="linkAccount()">Crear cuenta</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="brokers-wrapper" *ngIf="showAddExistingAccount">
    <div class="add-account-wrapper">
        <a (click)="toggleAddAccount()"><i class="fas fa-arrow-left" style="margin-right: 15px;"></i>Brokers</a>
    </div>
    <div class="add-broker-info">
        <img src={{brokerPath}} class="add-broker-img"> 
        <p class="broker-name"><b style="text-transform: uppercase;">{{brokerName}}</b></p>
    </div>
    <div class="add-broker-body">
        <div class="step-full">
            <div class="step-label"><p class="bold smallText">Paso 1:</p></div>
            <div class="step-body">
                <p class="bold step-title">Abrir una cuenta de {{brokerName}}</p>
                <a class="step-btn" href="{{brokerPage}}" target="_blank">Abrir {{brokerName}}</a>
            </div>
        </div>
        <div class="step-full" id="step-2">
            <div class="step-label"><p class="bold smallText">Paso 2:</p></div>
            <div class="step-body">
                <p class="bold step-title">Ingresar tu número de cuenta de {{brokerName}}</p>
                <input type="text" class="step-input" (keypress)="numberOnly($event)" #cuenta placeholder="Número de cuenta" id="cuenta" (keyup)="changeAccount(cuenta.value)">
                <p class="error-text">{{errorText}}</p>
                <button class="link-btn" (click)="linkAccount()">Vincular Cuenta</button>
                <p style="color:rgba(255, 255, 255, 0.7); margin-top: 20px; font-size: 10px; text-align: center;">Al vincular una cuenta, estás accediendo a nuestros <a class="bold" style="color: white;" routerLink="/terminos">Términos y Condiciones</a></p>
            </div>
        </div>
    </div>
</div>
