button {
  margin: 0;
  border: 0;
  background: none;
  font-family: 'Soleil';
  font-weight: normal;
}
.custom-btn {
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  padding: 10px 11px;
  background: rgba(white, 0.4);
  border-radius: 10px;
  font-size: 16px;
  letter-spacing: 1.6px;
  transition: 0.2s ease-out all;
  &:hover {
    .btn-icon {
      transform: translateX(3px);
    }
  }

}
.btn-large {
  padding: 14px 90px;
  font-weight: bold;
  letter-spacing: 1.8px;
  .btn-icon {
    width: 50px;
  }
}

// Styles
.btn-turquoise {
  @extend .custom-btn;
  background: rgba($turquoise, 0.63);
}

.btn-whiteopacity {
  @extend .custom-btn;
  background: rgba(white, 0.4);
}

// Icon
.btn-icon {
  transition: 0.2s ease-out all;
  margin-left: 22px;
  vertical-align: middle;
  width: 22px;
}

/*
  Responsive
*/
@media screen and (max-width: 800px) {
  .custom-btn {
    font-size: 12px;
    padding: 8px 9px;
  }
  .btn-large {
    width: 100%;
    font-size: 18px;
    padding-top: 14px;
    padding-bottom: 14px;

  }
}
