.aprende-navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background-color: #6c31f7;
    display: flex;
    align-items: center;
    z-index: 100;
}

a{
    color: white;
    text-decoration: none;
}

.aprende-navbar-logo{
    width: 40px;
    margin-left: 30px;
}

.aprende-links{
    position: absolute;
    right: 50px;
}

.aprende-link{
    margin-left: 50px;
    font-size: 16px;
    letter-spacing: 1px;
    color: white;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
    transition: .8s;
}

.aprende-link:hover{
    border-color: white;
}

.aprende-selected-link{
    border-color: white;
}

.aprende-hero{
    position: relative;
    margin-top: 75px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, rgb(79, 28, 199) 20%, rgba(79, 28, 199, .3) 80%);
}

.aprende-hero-container{
    display: flex;
    align-items: center;
    max-width: 1000px;
}

.aprende-hero-img-container, .aprende-hero-text{
    width: 50%;
}

.aprende-hero-img-container{
    margin-right: 50px;
    background-image: url('../../../assets/img/tortugaBG.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 40% 40%;
}

.aprende-hero-img{
    position: relative;
    width: 100%;
    left: -9%;
}

.aprende-hero-animal{
    position: relative;
    letter-spacing: 3px;
    font-size: 18px;
    margin-bottom: 11px;
}

.aprende-hero-title{
    font-size: 36px;
    letter-spacing: 3px;
    margin-bottom: 45px;
}

.aprende-hero-description{
    font-size: 18px;
    letter-spacing: 1.8px;
    line-height: 1.44;
    width: 70%;
    font-weight: 500;
}

.aprende-swiper-container{
    position: relative;
    min-height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-legend{
    position: absolute;
    top: 40px;
    color: black;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 2.8px;
    text-align: center;
    text-transform: uppercase;
    transition: all .2s ease-out;
    padding: 0 30px;
}

.aprende-swiper{
    width: 1030px;
    margin-top: 80px;
    overflow: visible;
}

.aprende-academia{
    position: relative;
    max-width:  280px !important;
    border-radius: 40px;
    box-shadow: 0 20px 15px 0 rgba(0,0,0,.3);
    background-image: linear-gradient(180deg,#121d23,#60686c);
    padding: 35px 15px;
    padding-top: 97px;
    text-align: center;
    cursor: pointer;
    transition: .5s;
    margin-right: 50px;
}

.aprende-academia:hover{
    margin-top: 20px;
}

.aprende-img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 150px;
    height: 150px;
    border-radius: 30px;
    box-shadow: 0 15px 6px 0 rgba(0,0,0,.16);
    background: #121d23;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    transition: all .2s ease-out;
    top: calc(-75px - 97px);
    overflow: visible;
}

.aprende-img{
    display: block;
    width: 100%;
    height: 100%;
    transition: all .2s ease-out;
}

.aprende-academia-title{
    position: relative;
    top: -120px;
    font-size: 18px;
    line-height: 1.28;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}

.aprende-academia-text{
    position: relative;
    top: -100px;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 1.4px;
    margin-top: 20px;
}

swiper > .swiper.s-wrapper, swiper, .swiper-container{
    overflow: visible !important;
}

.swiper-container{
    overflow: visible !important;
}

#footer{
    position: relative;
    left: 0;
    background-color: rgba(7,11,13,1);
    padding: 70px 0 30px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footerContainer{
    width: 50%;
    text-align: center;
}

#footerContainer img{
    margin-bottom: 20px;
    width: 40px;
}

.footer-text{
    font-size: 14px;
}

#footerContainer i{
    margin: 50px 5%;
    font-size: 18px;
}

@media only screen and (max-width: 1000px){
    .aprende-hero-container{
        flex-direction: column;
    }

    .aprende-hero-text{
        text-align: center;
        margin-top: 50px;
    }

    .aprende-hero-description{
        width: 100%;
    }

    .aprende-swiper{
        width: 90%;
    }

    .aprende-academia{
        max-width: none !important;
        width: 70% !important;
        margin-left: 15%;
        margin-right: 7%;
    }

}