.broker{
    position: relative;
    margin: 0 25px 60px;
    border-radius: 10px;
    width: calc(50% - 50px);
    background-color: rgba(12,20,24,1);
    padding-bottom: 20px;
}

.academias-intro{
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
    width: 80%;
    line-height: 1.5em;
}

.broker-header{
    position: relative;
    height: 100px;
    background-color: rgba(9,15,19,1);
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

.broker-img{
    width: 100px;
    height: 100px;
    margin-left: 30px;
    margin-right: 30px;
}

.broker-name{
    font-size: 25px;
}

.cuenta-add{
    position: absolute;
    right: 30px;
    margin-top: -30px;
    text-align: right;
    cursor: pointer;
}

pre{
    font-family: 'Roboto', monospace;
    padding: 20px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;      
    white-space: -o-pre-wrap;    
    word-wrap: break-word; 
    line-height: 24px;
}

.academia-link{
    display: block;
    text-decoration: underline;
    width: 100%;
    text-align: center;
}

.academias-wrapper{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.academias-title{
    position: relative;
    margin-top: 40px;
    font-size: 35px;
    letter-spacing: 3px;
}

.academias-container{
    position: relative;
    display: flex;
    justify-content: center;
    width: 90%;
    margin-top: 50px;
    flex-wrap: wrap;
}

.academia{
    position: relative;
    width: calc(30% - 70px);
    margin: 30px 1%;
    background-color: rgba(7,11,13,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 35px;
    border-radius: 10px;
    margin-top: 90px;
}

.academia-img-container{
    position: absolute;
    display: flex;
    justify-content: center;
    top: -50px;
    height: 100px;
    width: 100px;
}

.academia-img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.academia-discount{
    position: relative;
    bottom: 0;
    border-radius: 45px;
    padding: 2px 0;
    margin-top: 5px;
}

.academia-name{
    font-size: 25px;
    letter-spacing: 3px;
    margin-top: 30px;
    text-align: center;
}

.academia-text{
    text-align: center;
    margin-top: 20px;
}

.academias-searchbar-container{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding: 25px 20px;
    border-top: .5px solid rgba(255,255,255,.3);
    border-bottom: .5px solid rgba(255,255,255,.3);
    background-color: rgba(12,20,24,1);
}

.show-academias{
    font-family: 'Lato', sans-serif;
    margin-left: 5%;
}

.academia-details{
    position: relative;
    display: flex;
    padding: 20px 50px;
    width: calc(100% - 100px);
}

.academia-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
    width: 410px;
}

.academia-header{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    width: 100%;
}

.academia-header p{
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 3px;
}

.academia-detail-img{
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 50px;
}

.academia-body{
    width: 100%;
}

.plan-list{
    width: 65%;
}

.plan{
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    position: relative;
}

.plan-header{
    display: flex;
    position: relative;
    padding: 20px;
    background-color: rgba(7,11,13,0.5);
    border-radius: 10px;
}

.plan-name,.plan-discount{
    font-size: 25px;
    text-transform: capitalize;
}

.plan-numbers{
    position: absolute;
    display: flex;
    right: 25px;
}

.plan-original-price{
    font-size: 12px;
    margin-right: 10px;
    text-align: right;
}

.plan-body{
    background-color: rgba(7,11,13,0.5);
    border-radius: 10px;
    margin-top: -70px;
    padding: 90px 50px 20px;
    width: calc(100% - 100px);
    display: flex;
    flex-wrap: wrap;
}

.plan-bullet{
    width: 50%;
    margin-bottom: 10px;
}

.show-more-text{
    position: absolute;
    text-decoration: underline;
    bottom: 30px;
    right: 25px;
    cursor: pointer;
}

.plan-link{
    position: absolute;
    padding: 10px 15px;
    border-radius: 10px;
    bottom: -20px;
    right: 20px;
    color: white;
    text-decoration: none;
    letter-spacing: 4px;
    font-weight: 500;
}

@media only screen and (max-width: 1000px){

    .broker{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .academia-discount{
        text-align: center;
    }

    .broker-header{
        flex-direction: column;
        padding: 15px;
        height: auto;
    }

    .broker-name{
        text-align: center;
    }

    .academias-title{
        margin-bottom: 30px;
    }

    .academia{
        width: 100%;
        padding: 0;
        margin-top: 60px;
    }

    .academia-header{
        justify-content: center;
    }

    .academia-body{
        text-align: center;
    }

    .academia-details{
        flex-direction: column;
        padding: 20px 25px;
        width: calc(100% - 50px);
    }

    .academia-column{
        width: 100%;
        margin-bottom: 30px;
        margin-right: 0;
    }

    .plan-list{
        width: 100%;
    }

    .plan-header{
        flex-direction: column;
        background-color: #090E11;
        padding: 20px 20px 60px;
    }

    .plan-numbers{
        position: absolute;
        width: max-content;
        right: 20px;
        top: 60px;
        margin-top: 5px;
    }

    .plan-bullet{
        font-size: 12px;
        margin-bottom: 30px;
    }
    
    .plan-link{
        letter-spacing: 2px;
    }

}