<app-navbar [currentTab]=0></app-navbar>
<div class="dashboard-container">
    <div id="paypal-warning" *ngIf=noPaypal>
        <p class="darkGreyText smallText">Aun no has agregado una cuenta de pagos.<br><a routerLink="/perfil"><b>Agrégala aquí</b></a></p>
    </div>
    <div id="cash-containers">
        <div class="ganancia-display" id="ganancia-disp">
            <a class="info-ganancia smallText" (click)="toggleReembolsoModal()"><i class="fas fa-dollar-sign"></i>Solicitar un Reembolso</a>
            <p class="normalText ganancia-text">$<span class="bigText bold">{{gDisp | number}}</span><br><span class="smallText mediumGreyText">Ganancia Disponible</span></p>
        </div>
        <div class="ganancia-display" id="ganancia-pen">
            <p class="normalText ganancia-text">$<span class="bigText bold">{{gPen | number}}</span><br><span class="smallText mediumGreyText">Ganancia Pendiente</span></p>
        </div>
        <div class="ganancia-display" id="ganancia-tot">
            <p class="normalText ganancia-text">$<span class="bigText bold">{{gTot | number}}</span><br><span class="smallText mediumGreyText">Ganancia Total</span></p>
        </div>
    </div>
    <div id="lower-info">
        <div id="reembolsos-container">
            <div class="lower-info-header">
                <p class="lower-info-title bold">Pagos</p>
            </div>
            <div class="table-wrapper">
                <div class="table-title">
                    <p class="mediumGreyText">Cuenta</p>
                    <p class="mediumGreyText">Ganancia Previa</p>
                    <p class="mediumGreyText">Ganancia Nueva</p>
                    <p class="mediumGreyText">Tiempo de Pago</p>
                </div>
                <div class="table-row" *ngFor="let pago of pagosList">
                    <p>{{pago.userRef}}</p>
                    <p>$ {{pago.userBalancePrev}}</p>
                    <p>$ {{pago.userBalanceNew}}</p>
                    <p>{{pago.time}}</p>
                </div>
            </div>
        </div>
        <div id="cuentas-container">
            <div class="lower-info-header">
                <p class="lower-info-title bold">Cuentas</p>
                <a class="lightGreenText smalltext" id="cuenta-add" routerLink="/brokers">+ Añadir Cuenta</a>
            </div>
            <div class="cuentas-info">
                <div class="cuenta" *ngFor="let account of accountList">
                    <div class="smallText"><img [src]="account.brokerPath" class="cuenta-img"><p><b>{{account.broker}}</b><br>{{account.accountID}}</p></div>
                    <p class="smallText" *ngIf="account.isActive">$<span class="cuenta-number">{{account.balance | number}}</span><br><span class="mediumGreyText">Ganancia</span></p>
                    <p class="smallText mediumGreyText" *ngIf="!account.isActive">$ <span class="cuenta-number">{{account.balance}}</span><br><span class="orangeText">Esperando Aprobación</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" *ngIf="showReembolsoModal">
    <div class="modal-background" (click)='toggleReembolsoModal()'></div>
        <div class="edit-modal">
            <div class="edit-header" (click)='toggleReembolsoModal()'>
                <p class="smallText"><i class="fas fa-arrow-left" style="margin-right: 15px;"></i>Cancelar</p>
            </div>
            <div class="edit-body">
                <p class="bold modal-title">Solicitar Reembolso</p>
                <div class="edit-input">
                    <label class="modal-label" for="edit">Número de cuenta</label>
                    <input type="text" placeholder="Ingresa un identificador de cuenta" [value]="" name="edit" id="edit" class="bold" #account>
                    <label class="modal-label" for="edit">Cantidad</label>
                    <input type="text" (keypress)="numberOnly($event)" placeholder="Ingresa el valor a solicitar" [value]="" name="edit" id="edit" class="bold" #amount>
                </div>
                <p class="confirmation-text">{{confirmation}}</p>
                <button class="text14 bold edit-btn lightGreenBackground" id="edit-save" (click)="createReembolso(account.value,amount.value)">Guardar</button>
            </div>
        </div>
</div>

