<app-admin-navbar [currentTab]=2></app-admin-navbar>
<div class="brokers-wrapper" *ngIf="!showCreateBroker && !showEditBroker">
    <div class="brokers-searchbar-container">
        <p class="lightGreenText bold add-broker" (click)="toggleForm()">Añadir Broker +</p>
        <div class="brokers-searchbar">
            <input type=text placeholder="Buscar broker" (keyup)="filterList(search.value)" #search>
            <i class="fas fa-search"></i>
        </div>
    </div>
    <div class="brokers-container">
        <div class="broker" *ngFor="let broker of brokerFiltered">
            <img [src]="broker.path" class="broker-img">
            <p class="broker-name bold">{{broker.name}}</p>
            <a target="_blank" class="broker-link smallText" [href]="broker.page">{{broker.page}}</a>
            <p class="broker-edit lightGreenText" (click)="toggleEditBroker(broker.id,broker.name,broker.brokerID,broker.page,broker.email,broker.description,broker.path)">Editar</p>
        </div>
    </div>
</div>
<div class="brokers-wrapper" *ngIf="showCreateBroker">
    <div class="brokers-searchbar-container">
        <p class="add-broker" (click)="toggleForm()"><i class="fas fa-arrow-left" style="margin-right: 15px;"></i>Ver Brokers</p>
    </div>
    <div class="brokers-form">
        <div class="brokers-form-row">
            <div>
                <div class="dropzone" 
                appFileDrop
                (drop)="handleDrop($event)"><i class="far fa-image img-icon"></i></div>
            </div>
            <div class="text-fields-column">
                <label for="name">Nombre del broker</label>
                <input type="text" name="name" id="name" #name placeholder="Escribe un nombre">
                <label for="page">Página del broker</label>
                <input type="text" name="page" id="page" #page placeholder="Escribe el link para visitar al broker">
            </div>
            <div class="text-fields-column">
                <label for="brokerID">ID de referencia</label>
                <input type="text" name="brokerID" id="brokerID" #brokerID placeholder="Escribe el identificador del broker">
                <label for="email">Correo del broker</label>
                <input type="text" name="email" id="email" #email placeholder="Escribe el email del broker">
            </div>
        </div>
        <div class="brokers-form-row">
            <div class="text-area-column">
            <label for="descripcion">Descripción</label>
            <textarea name="descripcion" id="descripcion" #description placeholder="Escribe una descripción"></textarea>
            </div>  
        </div>
    </div>
    <div style="margin-bottom: 20px;">{{confirmation}}</div>
    <div style="width: 860px; display: flex;">
        <button class="delete-button" (click)="toggleForm()">Eliminar</button>
        <button class="save-button" (click)="uploadBroker(name.value,brokerID.value,page.value,email.value,description.value)">Guardar</button>
    </div>
</div>
<div class="brokers-wrapper" *ngIf="showEditBroker">
    <div class="brokers-searchbar-container">
        <p class="add-broker" (click)="toggleEditBroker(null,null,null,null,null,null,null)"><i class="fas fa-arrow-left" style="margin-right: 15px;"></i>Ver Brokers</p>
    </div>
    <div class="brokers-form">
        <div class="brokers-form-row">
            <div>
                <div class="dropzone" 
                appFileDrop
                (drop)="handleDrop($event)"><i class="far fa-image img-icon"></i></div>
            </div>
            <div class="text-fields-column">
                <label for="name">Nombre del broker</label>
                <input type="text" name="name" id="name" #name placeholder="Escribe un nombre" [value]=brokerName>
                <label for="page">Página del broker</label>
                <input type="text" name="page" id="page" #page placeholder="Escribe el link para visitar al broker" [value]=brokerPage>
            </div>
            <div class="text-fields-column">
                <label for="brokerID">ID de referencia</label>
                <input type="text" name="brokerID" id="brokerID" #brokerID placeholder="Escribe el identificador del broker" [value]=brokerRef>
                <label for="email">Correo del broker</label>
                <input type="text" name="email" id="email" #email placeholder="Escribe el email del broker" [value]=brokerMail>
            </div>
        </div>
        <div class="brokers-form-row">
            <div class="text-area-column">
            <label for="descripcion">Descripción</label>
            <textarea name="descritcion" id="descritcion" #description placeholder="Escribe una descripción" [value]=brokerDescription></textarea>
            </div>  
        </div>
    </div>
    <div style="margin-bottom: 20px;">{{confirmation}}</div>
    <div style="width: 860px; display: flex;">
        <button class="delete-button" (click)="removeBroker()">Eliminar</button>
        <button class="save-button" (click)="editBroker(name.value,brokerID.value,page.value,email.value,description.value,brokerPath)">Guardar</button>
    </div>
</div>