<div class="navbar-container blackBackground">
    <img src="../../../assets/img/biiaLogo.png" class="navbar-image">
    <p class="navbar-title lightGreenText normalText">BIIA</p>
    <div class="navbar-links">
        <a class="navbar-link smallText" routerLink="/admin/reembolsos">Reembolsos</a>
        <a class="navbar-link smallText" routerLink="/admin/cuentas">Cuentas</a>
        <a class="navbar-link smallText" routerLink="/admin/brokers">Brokers</a>
        <a class="navbar-link smallText" routerLink="/admin/academias">Academias</a>
        <a class="navbar-link smallText" routerLink="/admin/faq">FAQ's</a>
    </div>
    <div class="navbar-user">
        <p class="navbar-name lightGreenText smallText">{{name}}<i class="fas fa-user lightGreenText navbar-icon"></i></p><button (click)="onLogout()" class="text14 bold logoutBtn lightGreenBackground">Cerrar Sesión</button>
    </div>
</div>
