.cuentas-wrapper{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cuentas-searchbar-container{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding: 25px 0;
    padding-left: 10%;
    border-top: .5px solid rgba(255,255,255,.3);
    border-bottom: .5px solid rgba(255,255,255,.3);
    background-color: rgba(12,20,24,1);
}

.cuentas-searchbar{
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    position: absolute;
    right: calc(10% - 15px);
    padding: 15px;
    width: 350px;
}

.cuentas-searchbar input{
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: white;
    text-align: right;
    width: 90%;
}

.cuentas-searchbar input::placeholder{
    font-size: 14px;
    color: rgba(255,255,255,0.3);
}

.cuentas-searchbar i{
    position: absolute;
    right: 15px;
    font-size: 16px;
}

.cuentas-container, .pagos-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.cuentas-table, .pagos-table{
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.cuentas-header, .pagos-header{
    width: calc(100% - 50px);
    background-color: rgba(12,20,24,1);
    display: flex;
    padding: 13px 25px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.cuentas-header p{
    width: calc(100%/6);
    color: rgba(255,255,255,.5);
    font-size: 14px;
}

.pagos-header p{
    width: calc(100%/5);
    color: rgba(255,255,255,.5);
    font-size: 14px;
}

.cuentas-row, .pagos-row{
    width: calc(100% - 50px);
    display: flex;
    align-items: center;
    position: relative;
    padding: 13px 25px;
    background-color: rgba(12,20,24,1);
}

.cuenta-column{
    width: calc(100%/6);
    font-size: 16px;
    display: flex;
    align-items: center;
}

.pagos-column{
    width: calc(100%/5);
    font-size: 16px;
    display: flex;
    align-items: center;
}

.cuenta-img{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.icons-container{
    display: flex;
    position: absolute;
    right: 40px;
}

.icons-container p{
    font-size: 16px;
    margin-left: 15px;
}

.clickable{
    cursor: pointer;
}

.modal{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;
}

.modal-background{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    top: 0;
    left: 0;
}

.modal-title{
    width: 95%;
}

.edit-modal{
    position: fixed;
    width: 500px;
    height: 350px;
    background-color: rgba(18,29,35,1);
}

.edit-header{
    position: relative;
    width: calc(100% - 25);
    height: 60px;
    background-color: rgba(12,20,24,1);
    display: flex;
    align-items: center;
    padding-left: 25px;
    cursor: pointer;
}

.edit-body{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-label{
    width: 350px;
    text-transform: capitalize;
    text-align: left;
    left: 10px;
    margin-bottom: 10px;
}

.edit-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.edit-input input[type="text"]{
    width: 310px;
    background-color: rgba(12,20,24,1);
    border: 1px solid rgba(255,255,255,0.2);
    padding: 13px 20px;
    color: white;
    border-radius: 5px;
    margin-bottom: 15px;
}

.edit-btn{
    position: relative;
    margin-top: 30px;
    width: 150px;
    color: white;
    border: none;
    padding: 20px;
    border-radius: 5px;
    font-family: 'Roboto', monospace;
}

.tab{
    font-size: 16px;
    width: 75px;
    height: 100%;
    margin-right: 20px;
    text-align: center;
    cursor: pointer;
}

.chosen-tab{
    color: rgba(0,191,181,1);
}