<div class="landingSection" id="firstSection">
    <video autoplay muted loop id="myVideo">
        <source src="../../../assets/video/Invierte.mp4" type="video/mp4">
    </video>
    <img src="/assets/img/biiaLogo.png">
    <p id="firstSectionP">TRANSFORMAMOS EL MUNDO DE LAS FINANZAS</p>
    <div class="scrollBtn">
        <p>scroll</p>
        <i class="fas fa-chevron-down" style="font-size: 30px"></i>
    </div>
</div>
<div class="landingSection" id="secondSection">
    <div class="navbar" (appear)="hasAppearedNavbar()">
        <a class="orangeText strong loginBtn" routerLink="/login">INICIAR SESION</a>  
    </div>
    <img src="/assets/img/Mexico.png" id="investorsBG">
    <p>Somos una plataforma mexicana que ayuda al inversor y al nuevo inversor</p>
    <div id="roles">
        <div class="role">
            <p class="roleTitle lightGreenText">INVERSOR</p>
            <p class="roleText">Reducimos comisión por cada operación que abras.</p>
        </div>
        <div class="role">
            <p class="roleTitle purpleText">NUEVO INVERSOR</p>
            <p class="roleText">Comienza de la mano de las mejores academias de trading.</p>
        </div>
    </div>
    <p>Somos conscientes del gran valor que  tiene México como país, nos inspira su patrimonio cultural y su gran biodiversidad, por  eso en BIIA, estamos comprometicos en ofrecerte ese mismo valor para ti.</p>
    <a class="lightGreenBackground linkBtn strong" routerLink="/login">DESCUBRE COMO <i class="fas fa-long-arrow-alt-right" style="margin-left: 15px;"></i></a>
</div>
<div class="animalSections">
    <div class="landingSection animalSection" >
        <div class="animalContainer">
            <div class="animalImg" id="guacamayaImg" >
                <img src="/assets/img/guacamaya.png">
            </div>
            <div class="animal-text-container">
                <p class="lightGreenText animalName" (appear)="hasAppearedGuacamaya()">MOO | GUACAMAYA</p>
                <p class="animalSubtitle bold">APRENDE</p>
                <p class="animalText bold">COMIENZA TU CARTERA COMO UN TRADER</p>
                <a class="lightGreenBackground linkBtn strong" routerLink="/aprende">SABER MÁS <i class="fas fa-long-arrow-alt-right" style="margin-left: 15px;"></i></a>
            </div>
        </div>
    </div>
    <div class="landingSection">
        <div class="animalContainer" id="tortugaContainer">
            <div id="tortugaText">
                <p class="purpleText animalName right" (appear)="hasAppearedTortuga()">TORTUGA | AKK</p>
                <p class="animalSubtitle bold right">INVIERTE</p>
                <p class="animalText bold right">Comienza con los mejores brokers a<br> nivel mundial</p>
                <a class="purpleBackground linkBtn strong right" id="tortugaBtn" routerLink="/invierte"><i class="fas fa-long-arrow-alt-left" style="margin-right: 15px;"></i>SABER MÁS</a>
            </div>
            <div class="animalImg" id="tortugaImg">
                <img src="/assets/img/tortuga.png">
            </div>
        </div>
    </div>
    <div class="landingSection">
        <div class="animalContainer">
            <div class="animalImg" id="jaguarImg">
                <img src="/assets/img/jaguar.png">
            </div>
            <div class="animal-text-container" id="jaguar-text">
                <p class="orangeText animalName" (appear)="hasAppearedJaguar()">BALAM | JAGUAR</p>
                <p class="animalSubtitle bold">GANA</p>
                <p class="animalText bold">Reducimos tu spread hasta un 25%</p>
                <a class="orangeBackground linkBtn strong" routerLink="/login">SABER MÁS <i class="fas fa-long-arrow-alt-right" style="margin-left: 15px;"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="landingSection centerText">
    <p class="strong titleText" id="infoTitle">¿CÓMO FUNCIONA?</p>
    <p class="normalText robotoMono" id="infoText"><span class="strong"><span class="lightGreenText">BIIA</span> es una nueva forma de invertir tu dinero</span><br><br>
        Si eres un inversionista recurrente en <span class="lightGreenText bold">BIIA</span>, sacarás el máximo provecho a tus operaciones y te reembolasremos parte del spread que te cobra tu actual broker.<br><br>
        <span class="bold">PARECE MAGIA</span><br>
        <span class="lightGreenText bold">¡PERO NO LO ES!</span><br><br><br>
        El broker te cobra una comisión por el spread, el broker nos paga a nosotros una comisión por referirte, y nosotros te regresamos parte de esa comisión por operar con ese broker.<br><br>
        <span class="lightGreenText bold">¡ASÍ DE SENCILLO!</span><br><br></p>
        <div class="ver-brokers"><span class="orangeText bold"><a style="color: #f88920;" routerLink="/login">VE LOS BROKERS DISPONIBLES</a></span></div>
</div>
<div class="landingSection centerText" id="tallSection">
    <div id="explainDiv">
        <div class="explainContainer">
            <img class="explainImg" src="/assets/img/options1.png">
            <p class="bold normalText space-bottom">ACCIONES</p>
            <p class="normalText robotoMono">Invierte en millones de compañias utilizando todas las herramientas para trading y analizar la informacion para tu portafolio de inversión.</p>
        </div>
        <div class="explainContainer">
            <img class="explainImg" src="/assets/img/options2.png">
            <p class="bold normalText space-bottom">OPCIONES</p>
            <p class="normalText robotoMono">Las opciones proveen de una alternativa estrategica para tu capital en donde podras invertir en el mercado de capitales.</p>
        </div>
        <div class="explainContainer">
            <img class="explainImg" src="/assets/img/options3.png">
            <p class="bold normalText space-bottom">ETF´S</p>
            <p class="normalText robotoMono">Diversifica tus valores invirtiendo en un grupo de acciones con la misma conveniencia que negociar una sola acción.</p>
        </div>
        <div class="explainContainer">
            <img class="explainImg" src="/assets/img/options4.png">
            <p class="bold normalText space-bottom">FOREX</p>
            <p class="normalText robotoMono">Diferencia tu portafolio con el mercado mas líquido del mundo que te permitirá aumentar los rendimientos que puedas obtener.</p>
        </div>
    </div>
</div>
<div id="footer">
    <div id="footerContainer">
        <img src="/assets/img/logoWhite.png">
        <p class="bold footer-text" style="letter-spacing: 5px;">BIIA</p>
        <div>
            <a target="_blank" href="https://www.instagram.com/biia.lat/?igshid=kv2tz50zwwln" style="color: white;"><i class="fab fa-instagram"></i></a>
            <a target="_blank" href="https://www.facebook.com/pages/category/Product-Service/BIIA-106236047693293/" style="color: white;"><i class="fab fa-facebook"></i></a>
        </div>
        <p class="footer-text darkGreyText">BIIA. Todos los derechos reservados</p>
    </div>
</div>
