$purple: rgba(108,49,247,1);
$light-green: rgba(0,191,181,1);
$orange: rgba(248,137,32,1);
$darkGrey: rgba(255,255,255,0.7);
$mediumGrey: rgba(255,255,255,0.5);
$lightGrey: rgba(255,255,255,0.3);
$black: rgba(7,11,13,1);

a{
    text-decoration: none;
}

video{
    position: absolute;
    object-fit: fill;
    opacity: .1;
}

.landingSection{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: white;
    position: relative;
}

#firstSection{
    position: relative;
    letter-spacing: 3px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 101;
    background-color: #121D23;
    overflow: hidden;
}

#firstSection img{
    margin-top: -70.5px;
}

.video-cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#firstSectionP{
    position: absolute;
    color: rgba(255,255,255,1);
    font-size: 17px;
    font-weight: 700;
    bottom: 30vh;
    letter-spacing: 5px;
}

.scrollBtn{
    position: absolute;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.scrollBtn p{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}

.navbar{
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 30px;
    opacity: 0;
    transition: 1s;
}

.appearedNavbar{
    opacity: 1;
    position: fixed;
    z-index: 100;
}

.loginBtn{
    background-color: #121D23;
}

.navbar > i{
    margin-top: 5px;
    margin-right: 50px;
    float: right;
    font-size: 30px;
}

.navbar > a{
    float: right;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    font-size: 16px;
    margin-right: 30px;
}


#secondSection{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 100px;
}

p{
    letter-spacing: 2px;
}

#secondSection > .second-section-second-p{
    margin-top: 80px;
    width: 80%;
    line-height: 1.8em;
    font-size: 16px;
    font-weight: 300;
}

#secondSection > .second-section-first-p{
    margin-top: 0px;
    width: 60%;
    line-height: 1.8em;
    font-size: 16px;
    font-weight: 300;
}

.buttons{
    margin-top: 5px;
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    >*{
        box-sizing: border-box;
        text-transform: uppercase;
    }
}

.operative-title{
    font-size: 16px;
    margin-top: 50px;
    font-weight: 300;
}

.operatives{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    min-width: 299px;
    max-width: 1000px;
    margin: 50px auto;
    gap: 100px;
}

.operative{
    position: relative;
    border-radius: 20px;
    flex: 0 0 100px;
    width: 100px;
    height: 100px;
    box-shadow: 0px 8px 8px rgba(0,0,0,.3);
    line-height: 100px;
    font-size: 40px;
    color: rgba(0,191,181,1);
    font-weight: 700;
    transition: transform .5s;
    cursor: default;
    font-family: 'Roboto', sans-serif;
    &:hover{
        transform: scale(1.3);
    }
}

.operative-name{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    bottom: -50px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.1em;
    color: white;
    font-weight: 400;
    line-height: 1.5em;
    word-wrap: normal;
    white-space: nowrap;
    font-weight: 300;
}

.operatives-mobile{
    display: none;
}

#investorsBG{
    position: absolute;
    top: 20px;
    z-index: 0;
}

.loginBtn{
    position: relative;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: .5s transform ease-out;
}

.linkBtn{
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 16px;
    letter-spacing: 0.1em;
    font-family: 'Roboto', sans-serif;
    margin-top: 75px;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
}

#roles{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.animalSections{
    position: relative;
    background-image: url('/assets/img/animalSections.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#services-title{
    position: absolute;
    top: 10px;
    font-size: 14px;
    width: 100%;
    text-align: center;
    font-weight: 300;
}

.animalContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.animalImg{
    width: 40%;
    padding: 0px 50px;
    margin-right: 5%;
}

#jaguarImg img{
    width: 100%;
}

.animalName{
    font-size: 23px;
    margin: 16px 0;
    letter-spacing: 10px;
    font-weight: 300;
}

.animalSubtitle{
    font-size: 65px;
    margin: 16px 0;
    letter-spacing: 10px;
}

.animalText{
    font-size: 17px;
    margin: 16px 0 30px;
    line-height: 1.8em;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 300;
}

#tortugaContainer{
    margin-top: -70px;
}

#tortugaText{
    position: relative;
    margin-right: 0px;
}

.leftBtn{
    position: absolute;
    margin: 0;
    right: 0;
}

#guacamayaImg{
    background-image: url('/assets/img/guacamayaBG.png');
    background-repeat: no-repeat;
    background-position: 80% 56%;
    background-size: 62%;
}

#tortugaImg{
    padding: 0;
    padding-bottom: 70px;
    background-image: url('/assets/img/tortugaBG.png');
    background-repeat: no-repeat;
    background-position: 76% 8%;
    background-size: 90%;
    width: 43%;
    margin-right: 0;
    margin-left: 10%;
    margin-top: 50px;
}

#jaguarImg{
    background-image: url('/assets/img/jaguarBG.png');
    background-repeat: no-repeat;
    background-position: 60% 63%;
    background-size: 70%;
    right: -150%;
    left: auto;
    padding: 0;
    margin: 0;
    transform: scale(-1,1);
    position: relative;
    right: -150%;
    transition: 1s;
    width: 450px;
}

#functionBG{
    position: absolute;
    width: 550px;
    height: 100vh;
    opacity: .3;
}

#infoTitle{
    margin-bottom: 50px;
    font-weight: 400;
}

#infoText{
    width: 75%;
    line-height: 2em;
    font-weight: 400;
}

#explainDiv{
    display: flex;
    flex-direction: row;
    width: 90%;
}

.explainImg{
    margin-bottom: 30px;
}

.explainContainer{
    width: 21%;
    margin: 0 2%;
    padding: 0 1.5%;
}

.explainContainer p{
    line-height: 1.8em;
}

.wide-spacing{
    letter-spacing: 3px;
}

#footer-mobile{
    position: relative;
    left: 0;
    background-color: rgba(7,11,13,1);
    padding: 70px 0 30px;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

#footer-desktop{
    position: relative;
    left: 0;
    background-color: rgba(7,11,13,1);
    padding: 100px 0 100px;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
}

.footerContainer{
    width: 50%;
    text-align: center;
}

.footer-container-desktop{
    width: 70%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.footer-scroll{
    position: absolute;
    top: -25px;
    right: 150px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footer-scroll i{
    font-size: 30px;
}

.footer-desktop-section{
    margin: 0 50px;
}

.footer-desktop-title{
    text-align: left;
    margin-bottom: 20px;
    letter-spacing: 3px;
}

.footer-desktop-text{
    text-align: left;
    margin-bottom: 15px;
    letter-spacing: 3px;
}

.footer-desktop-text a{
    color: white;
}

.footer-desktop-section i {
    margin-right: 15px;
}

.footer-disclaimer{
    margin-top: 50px;
}

.footerContainer img{
    margin-bottom: 20px;
    width: 40px;
}

.footer-text{
    font-size: 14px;
}

.footerContainer i{
    margin: 50px 5%;
    font-size: 18px;
}

#guacamayaImg{
    position: relative;
    left: -150%;
    transition: 1s;
    width: 450px;
    height: 350px;
}

#guacamayaImg img{
    height: 100%;
    transform: rotateY(180deg);
}

#tortugaImg img{
    transform: rotateY(180deg);
    height: 70%;
    margin-top: 15%;
    width: 100%;
}

.appearedImg{
    left: 0 !important;
}

.animal-text-container{
    position: relative;
    right: -150%;
    transition: 1s;
    width: 500px;
}

.appearedText{
    right: 0;
}

#tortugaText{
    position: relative;
    left: -150%;
    transition: 1s;
    width: 500px;
}

#jaguar-text{
    width: 450px;
    text-align: right;
    margin-right: 50px;
    position: relative;
    left: -150%;
    transition: 1s;
}

.appearedTextLeft{
    left: 0 !important;
}

#tortugaImg{
    position: relative;
    right: -150%;
    transition: 1s;
    width: 450px;
    height: 350px;
}

.appearedImgRight{
    right: 0 !important;
}

.ver-brokers{
    margin-top: 50px;
    padding: 10px 30px; 
    font-size: 16px;
    letter-spacing: 3px;
    z-index: 10;
    a{
        position: absolute;
        margin: 0;
        left: 50%;
        transform: translateX(-50%);
        &:hover{
            transform: translateX(-50%) scale(1.2) !important;
        }
    }
}

.space-bottom{
    margin-bottom: 30px;
}

.linkBtn:hover{
    transition: .5s all ease;
    background-color: transparent;
    background: linear-gradient(45deg, transparent,#00bfb5 50%, #00bfb5);
}

.secondary-btn:hover{
    border: 1px $light-green solid;
    color: $light-green;
    background: none;
}

.purpleBackground:hover{
    background: linear-gradient(45deg, transparent,$purple 50%, $purple);
}

.orangeBackground:hover{
    background: linear-gradient(45deg, transparent,$orange 50%, $orange);
}

.loginBtn{
    transition: .5s all ease;
}

.loginBtn:hover{
    border: 1px $orange solid !important;
}

.animalBtn{
    position: absolute;
    margin: 0;
}

@media only screen and (max-width: 1000px) {
    .animalBtn{
        left: 50%;
        margin-left: -90px;
        width: 180px;
        box-sizing: border-box;
    }


    .landingSection{
        height: max-content;
        margin-bottom: 100px;
    }

    #firstSection{
        height: 100vh;
        margin-bottom: 50px;
        overflow: hidden;
    }

    #firstSectionP{
        line-height: 1.8em;
    }

    #firstSection img{
        margin-top: -150px;
        width: 150px;
    }

    #secondSection{
        margin-top: 50px;
    }

    .animalContainer{
        flex-direction: column;
    }
    
    .animal-text-container, .appearedTextLeft, .right{
        text-align: center;
    }

    .animalText{
        padding: 0 15%;
        letter-spacing: 2px;
        font-size: 15px;
    }

    #tortugaBtn{
        position: relative;
    }

    #tortugaImg{
        margin-top: 70px;
    }

    #tortugaContainer{
        margin-top: 50px !important;
    }

    #jaguarImg{
        margin-top: 70px;
        background-position: 57% 75%;
        background-size: 61%;
        width: 450px;
    }

    #jaguar-text{
        margin-top: 50px;
        text-align: center;
        margin: 0;
    }

    .appearedImg{
        left: -40px !important;
    }

    .scrollBtn{
        display: none;
    }

    #footer-mobile{
        display: flex;
    }

    #footer-desktop{
        display: none;
    }

    .operatives{
        display: none;
    }

    .operatives-mobile{
        display: block;
        width: 100%;
        .operatives-academia{
            display: flex;
            justify-content: center;
            margin-block: 50px 25px;
        }
        .swiper-pagination{
            margin-top: 50px;
        }
    }


    #secondSection > .second-section-first-p{
        min-width: 300px;
    }

}

@media only screen and (max-width: 800px) {

    

    .leftBtn{
        right: auto !important;
    }

    #firstSectionP{
        font-size: 14px;
        text-align: center;
        width: 70%;
        bottom: 25%;
    }

    #secondSection{
        font-size: 14px;
    }

    #roles{
        flex-direction: column;
        align-items: center;
    }

    .role{
        width: 80%;
    }

    .buttons{
        flex-direction: column;
        align-items: center;
        gap: 50px;
        margin-top: 80px;
        >*{
            width: 300px;
            margin-top: 0;
        }
    }

    #tortugaText{
        margin-top: 50px;
    }

    #explainDiv{
        flex-direction: column;
        align-items: center;
    }

    #infoSection{
        height: max-content;
        margin: 50px 0;
    }

    .explainContainer{
        width: 50%;
        min-width: 300px;
        margin: 0;
        margin-bottom: 100px;
    }

    #tallSection{
        height: max-content;
        padding: 100px 0 0;
        margin-bottom: 0;
    }

    #infoText{
        font-size: 14px;
    }

    #footer{
        height: 300px;
    }

    .normalText{
        font-size: 16px;
    }
}

@media only screen and (max-width: 500px) {
    .ver-brokers{
        width: calc(80% - 60px);
    }

    
    .animalName{
        font-size: 15px;
    }

    .animalSubtitle{
        font-size: 40px;
    }

    .animalText{
        font-size: 12px;
    }

    .animalImg{
        margin-right: 0;
    }

    #guacamayaImg,#jaguarImg{
        width: 70%;
        padding: 0;
        background-size: 100%;
    }

    #jaguarImg{
        background-position: 60% 0;
        background-size: 80%;
        height: auto;
    }

    #tortugaImg{
        width: 70%;
        margin-left: 0;
        padding: 0;
        height: max-content;
    }

    .appearedImg{
        left: 0px !important;
    }

    .animalSections .landingSection{
        height: max-content;
        padding: 50px 0;
        margin-bottom: 50px;
    }

    #infoTitle{
        font-size: 25px;
    }

    #infoText{
        width: 80%;
    }

}

@media only screen and (max-width: 400px) {
    #jaguarImg,#tortugaImg{
        width: 60%;
    }

    #guacamayaImg{
        width: 50%;
        height: 300px;
    }

}