<div class="landingSection" id="firstSection">
    <video muted loop id="myVideo" poster="../../../assets/img/landingPoster.PNG">
        <source src="../../../assets/video/Invierte.mp4" type="video/mp4">
    </video>
    <div class="video-cover"></div>
    <img src="/assets/img/biiaLogo.png">
    <p id="firstSectionP">TRANSFORMAMOS EL MUNDO DE LAS FINANZAS</p>
    <!-- <div class="scrollBtn" (click)="scroll('secondSection')">
        <p>SCROLL</p>
        <i class="fas fa-chevron-down" style="font-size: 30px"></i>
    </div> -->
</div>
<div class="landingSection" id="secondSection">
    <div class="navbar">
        <a class="orangeText strong loginBtn" routerLink="/login">INICIAR SESIÓN</a>  
    </div>
    <!-- <img src="/assets/img/Mexico.png" id="investorsBG"> -->
    <p class="second-section-first-p">Somos la primera plataforma que brinda enseñanza gratuita de trading con un sistema que hace tu operativa rentable.</p>
    <!-- <div id="roles">
        <div class="role">
            <p class="roleTitle lightGreenText">INVERSOR</p>
            <p class="roleText">Pagamos comisión por cada operación que abras</p>
        </div>
        <div class="role">
            <p class="roleTitle lightGreenText">NUEVO INVERSOR</p>
            <p class="roleText">Aprende a invertir con las mejores academias de trading</p>
        </div>
    </div> -->
    <div class="buttons">
        <a class="lightGreenBackground linkBtn strong" routerLink="/login">Comienza Gratis <i class="fas fa-long-arrow-alt-right" style="margin-left: 15px;"></i></a>
        <a class="secondary-btn linkBtn strong" routerLink="/login">Descubre Más <i class="fas fa-long-arrow-alt-right" style="margin-left: 15px;"></i></a>
    </div>
    <p class="second-section-second-p">Integramos inteligencia artificial y educación para brindarte mejores resultados en tu operativa.</p>
    <p class="operative-title">¿Qué operativa usas?</p>
    <div class="operatives">
        <div class="operative">F<span style="font-size: 27px;">i</span><p class="operative-name">Fibonacci</p></div>
        <div class="operative">E<span style="font-size: 27px;">w</span><p class="operative-name">Elliot Wave</p></div>
        <div class="operative">W<span style="font-size: 27px;">y</span><p class="operative-name">Wyckoff</p></div>
        <div class="operative">S<span style="font-size: 27px;">t</span><p class="operative-name">Structure</p></div>
        <div class="operative">S<span style="font-size: 27px;">mc</span><p class="operative-name">Smart Money</p></div>
    </div>
    <div class="operatives-mobile">
        <swiper [config]="config" class="operatives-swiper">
            <div class="operatives-slide">
                <div class="operatives-academia">
                    <div class="operative">F<span style="font-size: 27px;">i</span><p class="operative-name">Fibonacci</p></div>
                </div>
            </div>
            <div class="operatives-slide">
                <div class="operatives-academia">
                    <div class="operative">E<span style="font-size: 27px;">w</span><p class="operative-name">Elliot Wave</p></div>
                </div>
            </div>
            <div class="operatives-slide">
                <div class="operatives-academia">
                    <div class="operative">W<span style="font-size: 27px;">y</span><p class="operative-name">Wyckoff</p></div>

                </div>
            </div>
            <div class="operatives-slide">
                <div class="operatives-academia">
                    <div class="operative">S<span style="font-size: 27px;">t</span><p class="operative-name">Structure</p></div>
                </div>
            </div>
            <div class="operatives-slide">
                <div class="operatives-academia">
                    <div class="operative">S<span style="font-size: 27px;">mc</span><p class="operative-name">Smart Money</p></div>
                </div>
            </div>
        </swiper>
    </div>
</div>
<div class="animalSections">
    <p id="services-title">SERVICIOS</p>
    <div class="landingSection">
        <div class="animalContainer" id="tortugaContainer">
            <div id="tortugaText">
                <p class="purpleText animalName right" (appear)="hasAppearedTortuga()" id="tortuga">AKK | TORTUGA</p>
                <p class="animalSubtitle bold right">APRENDE</p>
                <p class="animalText bold right">Escoge la operativa que mejor <br>se adapte a ti</p>
                <a class="purpleBackground linkBtn strong right leftBtn" id="tortugaBtn" routerLink="/aprende">SABER MÁS <i class="fas fa-long-arrow-alt-right" style="margin-left: 15px;"></i></a>
            </div>
            <div class="animalImg" id="tortugaImg">
                <img src="../../../assets/img/Tortuga.png">
            </div>
        </div>
    </div>
    <div class="landingSection animalSection" >
        <div class="animalContainer">
            <div class="animalImg" id="guacamayaImg" >
                <img src="/assets/img/Guacamaya.png">
            </div>
            <div class="animal-text-container">
                <p class="lightGreenText animalName" (appear)="hasAppearedGuacamaya()" id="guacamaya">MOO | GUACAMAYA</p>
                <p class="animalSubtitle bold">INVIERTE</p>
                <p class="animalText bold">FONDEA TU CUENTA Y SÉ MENTOREADO<br>POR LOS MEJORES PROFESORES</p>
                <a class="lightGreenBackground linkBtn strong animalBtn" routerLink="/invierte">Saber más <i class="fas fa-long-arrow-alt-right" style="margin-left: 15px;"></i></a>
            </div>
        </div>
    </div>
    <div class="landingSection">
        <div class="animalContainer">
            <div class="animal-text-container" id="jaguar-text">
                <p class="orangeText animalName" (appear)="hasAppearedJaguar()" id="Jaguar">BALAM | JAGUAR</p>
                <p class="animalSubtitle bold">GANA</p>
                <p class="animalText bold">RECUPERA COMISIÓN Y OBTÉN UNA <br>ESTRATEGIA GANADORA</p>
                <a class="orangeBackground linkBtn strong animalBtn leftBtn" routerLink="/login">SABER MÁS <i class="fas fa-long-arrow-alt-right" style="margin-left: 15px;"></i></a>
            </div>
            <div class="animalImg" id="jaguarImg">
                <img src="/assets/img/Jaguar.png">
            </div>
        </div>
    </div>
</div>
<div class="landingSection centerText" id="infoSection">
    <p class="strong normalText" id="infoTitle">¿CÓMO FUNCIONA?</p>
    <p class="smallText" id="infoText">
        Aprende gratis y desarrolla la habilidad y la psicología correcta para ser un trader rentable y consistente.<br><br>
        
        Invierte con alguno de nuestros brokers aliados y gana de la mano de nuestros mentores.<br><br>
        
        Recupera las comisiones que te cobra el broker por los trades realizados y aumenta tu rendimiento mensual.<br><br>

        Operar a través de nosotros y aprender de nuestros mentores, te es más rentable que abrir una cuenta directamente con el broker<br><br>
        
        <span class="lightGreenText" style="font-weight: 700;">SOMOS SUNUM, TRANSFORMAMOS EL MUNDO DE LAS FINANZAS.</span></p>
        <div class="ver-brokers"><a class="lightGreenBackground linkBtn strong" routerLink="/login">Comienza gratis <i class="fas fa-long-arrow-alt-right" style="margin-left: 15px;"></i></a></div>
</div>
<div class="landingSection centerText" id="tallSection">
    <div id="explainDiv">
        <div class="explainContainer">
            <img class="explainImg" src="/assets/img/options1.png">
            <p class="bold smallText space-bottom wide-spacing">ACCIONES</p>
            <p class="text14 wide-spacing">Invierte en millones de compañías utilizando todas las herramientas para trading y analizar la información para tu portafolio de inversión.</p>
        </div>
        <div class="explainContainer">
            <img class="explainImg" src="/assets/img/options2.png">
            <p class="bold smallText space-bottom wide-spacing">OPCIONES</p>
            <p class="text14 wide-spacing">Las opciones proveen de una alternativa estratégica para tu capital en donde podrás invertir en el mercado de capitales.</p>
        </div>
        <div class="explainContainer">
            <img class="explainImg" src="/assets/img/options3.png">
            <p class="bold smallText space-bottom wide-spacing">ETF´S</p>
            <p class="text14 wide-spacing">Diversifica tus valores invirtiendo en un grupo de acciones con la misma conveniencia que negociar una sola acción.</p>
        </div>
        <div class="explainContainer">
            <img class="explainImg" src="/assets/img/options4.png">
            <p class="bold smallText space-bottom wide-spacing">FOREX</p>
            <p class="text14 wide-spacing">Diferencia tu portafolio con el mercado más líquido del mundo que te permitirá aumentar los rendimientos que puedas obtener.</p>
        </div>
    </div>
</div>
<div id="footer-mobile">
    <div class="footerContainer">
        <img src="/assets/img/logoWhite.png">
        <p class="bold footer-text" style="letter-spacing: 5px;">SUNUM</p>
        <div>
            <a target="_blank" href="https://www.instagram.com/sunum_bank/" style="color: white;"><i class="fab fa-instagram"></i></a>
            <!-- <a target="_blank" href="https://www.facebook.com/pages/category/Product-Service/BIIA-106236047693293/" style="color: white;"><i class="fab fa-facebook"></i></a>
            <a target="_blank" href="https://www.facebook.com/pages/category/Product-Service/BIIA-106236047693293/" style="color: white;"><i class="fab fa-linkedin-in"></i></a> -->
            <a target="_blank" href="https://www.youtube.com/channel/UCTksxK_EZwxw0XIKUl9TpPQ" style="color: white;"><i class="fab fa-youtube"></i></a>
            <a target="_blank" href="mailto:contacto@sunum.com.mx" style="color: white;"><i class="far fa-envelope"></i></a>
        </div>
        <p class="footer-text darkGreyText">SUNUM. Todos los derechos reservados</p>
    </div>
</div>
<div id="footer-desktop">
    <div class="footer-container-desktop">
        <div class="footer-desktop-section">
            <img src="../../../assets/img/logoWhite.png" style="width: 38px;">
            <p class="bold footer-text" style="letter-spacing: 5px; margin-top: 20px;">SUNUM</p>
        </div>
        <div class="footer-desktop-section">
            <p class="bold footer-desktop-title text14">CONTACTO</p>
            <p class="footer-desktop-text text14"><a target="_blank" href="mailto:contacto@sunum.com.mx"><i class="far fa-envelope"></i>Email</a></p>
            <!-- <p class="footer-desktop-text text14"><a target="_blank" href=""><i class="fab fa-whatsapp"></i>WhatsApp</a></p> -->
            <!--<p class="footer-desktop-text text14"><a target="_blank" href="https://wa.me/+526623003805?text=¡Hola! Quisiera hablar con ustedes acerca de"><i class="fab fa-whatsapp"></i>Whatsapp</a></p>-->
        </div>
        <div class="footer-desktop-section">
            <p class="bold footer-desktop-title text14">SOCIAL</p>
            <p class="footer-desktop-text text14"><a target="_blank" href="https://www.instagram.com/sunum_bank/"><i class="fab fa-instagram"></i>Instagram</a></p>
            <!-- <p class="footer-desktop-text text14"><a target="_blank" href="https://www.facebook.com/pages/category/Product-Service/BIIA-106236047693293/"><i class="fab fa-facebook-square"></i>Facebook</a></p>
            <p class="footer-desktop-text text14"><a target="_blank" href="https://www.linkedin.com/company/biia-invest/"><i class="fab fa-linkedin-in"></i>LinkedIn</a></p> -->
            <p class="footer-desktop-text text14"><a target="_blank" href="https://www.youtube.com/channel/UCTksxK_EZwxw0XIKUl9TpPQ"><i class="fab fa-youtube"></i>Youtube</a></p>
        </div>
    </div>
    <p class="bold footer-disclaimer">2021. TODOS LOS DERECHOS RESERVADOS.</p>
</div>
