<img src="../../../../assets/img/loginBG.png" class="loginBG">
<img src="../../../../assets/img/logoWhite.png" class="loginLogo">
    <p class="lightGreyText smallText loginText">Inicio de sesión</p>
    <p class="strong loginTitle">Que gusto verte de nuevo</p>
    <div class="inputContainer" *ngIf="!mailLogin">
        <p class="smallText">Elige con que iniciar sesión:</p>
        <button style="background-color: rgba(255,61,45,1);" (click)="LoginWithGoogle()"><i class="fab fa-google"></i>Google</button>
        <button style="background-color: rgba(27,72,171,1);" (click)="LoginWithFacebook()"><i class="fab fa-facebook-f"></i>Facebook</button>
        <button style="background-color: rgba(21,20,20,1);" (click)="toggleMail()"><i class="fas fa-envelope"></i>Correo</button>
    </div>
    <div class="mailInputContainer" *ngIf="mailLogin && !passwordReset">
        <p class="smallText">Ingresa tu correo y contraseña</p>
        <div class="text-field"><i class="fas fa-envelope"></i><input type="text" placeholder="Correo" class="text14 bold" #email></div>
        <div class="text-field"><i class="fas fa-key"></i><input type="password" placeholder="Contraseña" class="text14 bold" #password></div>
        <p class="text12 underlined" (click)="toggleReset()" style="cursor: pointer;">¿Olvidaste tu contraseña?</p>
        <p class="text12 underlined" (click)="toggleMail()" style="cursor: pointer;">Regresar</p>
        <p class="smallText errorText">{{errorText}}</p>
        <button class="text14 bold loginBtn lightGreenBackground" (click)="Login(email.value,password.value)">Iniciar Sesión</button>
    </div>
    <div class="mailInputContainer" *ngIf="passwordReset">
        <p class="smallText">Ingresa tu correo para restablecer la contraseña</p>
        <div class="text-field"><i class="fas fa-envelope"></i><input type="text" placeholder="Correo" class="text14 bold" #reset></div>
        <p class="text12 underlined" (click)="toggleReset()" style="cursor: pointer;">Regresar</p>
        <p class="errorText">{{errorText}}</p>
        <button class="text14 bold loginBtn lightGreenBackground" (click)="resetPassword(reset.value)">Restablecer</button>
    </div>
    <a class="lightGreenText bold signupLink" routerLink="/signup">No tengo cuenta</a>
    <p class="darkGreyText smallText rightsText">SUNUM. Todos los derechos reservados. 2020</p>
    <a class="orangeText strong return-button" routerLink="/">Inicio</a>
