<app-navbar [currentTab]=4></app-navbar>
<div id="profile-wrapper">
    <p class="profile-title bold">MI PERFIL</p>
    <div class="profile-subtitle">
        <p class="bold">Mis Datos</p>
    </div>
    <div class="user-info-container">
        <div class="info">
            <p class="info-name smallText">Nombre:</p>
            <p class="info-text">{{name}}</p>
            <i class="far fa-edit" (click)='toggleEditModal("nombre")'></i>
        </div>
        <div class="info">
            <p class="info-name smallText">Email:</p>
            <p class="info-text">{{email}}</p>
        </div>
        <div class="info">
            <p class="info-name smallText">Contraseña:</p>
            <p class="info-text">***************</p>
            <i class="far fa-edit" (click)='resetPassword()'></i>
        </div>
    </div>
    <div class="profile-subtitle">
        <p class="bold">Cuenta de Pagos</p>
    </div>
    <div class="paypal-container">
        <img src="../../../assets/img/paypalLogo.png" class="paypal-img">
        <p class="paypal-account">{{paypal}}</p>
        <p class="lightGreenText paypal-change" (click)="togglePaypal()">Cambiar</p>
    </div>
    <div class="profile-subtitle">
        <p class="bold">Reembolsos</p>
    </div>
    <div class="table-wrapper">
        <div class="table-title">
            <p class="mediumGreyText">Broker</p>
            <p class="mediumGreyText">Cuenta</p>
            <p class="mediumGreyText">Reembolso</p>
            <p class="mediumGreyText">Tiempo de Petición</p>
            <p class="mediumGreyText">Tiempo de Pago</p>
        </div>
        <div class="table-row" *ngFor="let reembolso of reembolsoList">
            <p class=""><img [src]="reembolso.brokerPath" class="table-img">{{reembolso.broker}}</p>
            <p class="">{{reembolso.accountRef}}</p>
            <p class="">$ {{reembolso.amount}}</p>
            <p class="">{{reembolso.time}}</p>
            <p class="">{{reembolso.closeTime}}</p>
        </div>
    </div>
</div>
<div class="modal" *ngIf="showPaypalModal">
    <div class="modal-background"  (click)="togglePaypal()">
    </div>
    <div class="paypal-modal">
        <div class="paypal-header" (click)="togglePaypal()">
            <p class="smallText"><i class="fas fa-arrow-left" style="margin-right: 15px;"></i>Cancelar</p>
        </div>
        <div class="paypal-body">
            <p class="bold paypal-title">Agregar cuenta a Paypal</p>
            <p class="smallText"> Ingresa a:
                <br><br>
                <a target="_blank" href="https://www.paypal.com/paypalme/my/landing" class="lightGreenText">https://www.paypal.com/paypalme/my/landing</a>
                <br><br>
                Sigue los pasos para crear tu link de deposito.
                <br><br>
                Una vez que tengas tu link, pegalo en la casilla de abajo, con esto podremos depositarte las ganancias que solicites.</p>
                <div class="paypal-input">
                    <input type="text" placeholder="paypal.me/biia" #paypalAccount name="paypalAccount" id="paypalAccount" class="bold">
                    <div class="smallText paypal-terms">
                        <div id="paypal-checkbox" (click)="toggleCheckBox()"></div><p style="color:rgba(255, 255, 255, 0.7)">Acepto los <a class="bold" style="color: white;" routerLink="/terminos" target="_blank">Términos y condiciones</a></p>
                    </div>
                </div>
                <button class="text14 bold paypal-btn lightGreenBackground" id="paypal-save" (click)="savePaypal(paypalAccount.value)" disabled>Guardar Link de Paypal</button>
        </div>
    </div>
</div>
<div class="modal" *ngIf="showEditModal">
    <div class="modal-background" (click)='toggleEditModal("")'></div>
        <div class="edit-modal">
            <div class="edit-header" (click)='toggleEditModal("")'>
                <p class="smallText"><i class="fas fa-arrow-left" style="margin-right: 15px;"></i>Cancelar</p>
            </div>
            <div class="edit-body">
                <p class="bold paypal-title">Editar {{label}}</p>
                <div class="edit-input">
                    <label class="modal-label" for="edit">{{label}}</label>
                    <input type="text" [placeholder]="placeholder" [value]="name" name="edit" id="edit" class="bold" #edit>
                </div>
                <button class="text14 bold paypal-btn lightGreenBackground" id="edit-save" (click)="saveEdit(edit.value)">Guardar</button>
            </div>
        </div>
</div>
    


