<div class="aprende-navbar">
    <a routerLink="/"><img src="../../../assets/img/logoWhite.png" class="aprende-navbar-logo"></a>
    <div class="aprende-links">
        <a class="aprende-selected-link aprende-link" >INVIERTE</a>
        <a class="aprende-link" routerLink="/aprende">APRENDE</a>
    </div>
</div>
<div class="aprende-hero">
    <video muted loop id="aprendeVideo" poster="../../../assets/img/moneyPoster.PNG">
        <source src="../../../assets/video/moneyBG.mp4" type="video/mp4">
    </video>
    <div class="video-cover"></div>
    <div class="aprende-hero-container">
        <div class="aprende-hero-img-container">
            <img src="../../../assets/img/guacamaya.png" class="aprende-hero-img">
        </div>
        <div class="aprende-hero-text">
            <p class="aprende-hero-animal">MOO</p>
            <p class="aprende-hero-title">INVIERTE</p>
            <p class="aprende-hero-description">Para los mayas, MOO, que significa guacamaya, está relacionado con el tiempo y las alteraciones de la actividad alrededor del día. Para nosotros, estas alteraciones las vemos representadas en los mercados bursátiles, que los brokers nos ofrecen, sin embargo, no todas las alteraciones son fiables. En BIIA, nos preocupamos por ofrecerte las mejores mediante alianzas con los mejores brokers a nivel mundial.</p>
        </div>
    </div>
</div>
<div class="aprende-swiper-container">
    <p class="swiper-legend">Elige al bróker con el que más te adaptes</p>
    <swiper [config]="config" class="aprende-swiper">
        <div class="aprende-slide" *ngFor="let broker of brokerList">
            <div class="aprende-academia" ><a routerLink="/login">
                <div class="aprende-img-container">
                    <img [src]="broker.path" class="aprende-img">
                </div>
                <p class="aprende-academia-title">{{broker.name}}</p>
                <p class="aprende-academia-text">{{broker.description}}</p>
            </a></div>
        </div>    
    </swiper>
</div>
<div id="footer">
    <div id="footerContainer">
        <img src="/assets/img/logoWhite.png">
        <p class="bold footer-text" style="letter-spacing: 5px;">BIIA</p>
        <div>
            <a target="_blank" href="https://www.instagram.com/biia.lat/?igshid=kv2tz50zwwln" style="color: white;"><i class="fab fa-instagram"></i></a>
            <a target="_blank" href="https://www.facebook.com/pages/category/Product-Service/BIIA-106236047693293/" style="color: white;"><i class="fab fa-facebook"></i></a>
        </div>
        <p class="footer-text darkGreyText">BIIA. Todos los derechos reservados</p>
    </div>
</div>
