.aprende-navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #00bfb5;
    display: flex;
    align-items: center;
    z-index: 100;
}

.aprende-navbar-logo{
    width: 25px;
    margin-left: 30px;
    margin-top: 5px;
}

.aprende-links{
    position: absolute;
    right: 50px;
}

.aprende-link{
    margin-left: 50px;
    font-size: 16px;
    letter-spacing: 1px;
    color: white;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
    transition: .8s;
}

.aprende-link:hover{
    border-color: white;
}

.aprende-selected-link{
    border-color: white;
}

.aprende-hero{
    overflow: hidden;
    position: relative;
    margin-top: 60px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, rgb(0, 124, 118) 20%, rgba(0, 191, 181, 0) 80%);
}

.aprende-hero-container{
    display: flex;
    align-items: center;
    max-width: 1200px;
    z-index: 10;
}

.aprende-hero-img-container, .aprende-hero-text{
    width: 50%;
}

video{
    position: absolute;
    object-fit: fill;
    opacity: .4;
}

.video-cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.aprende-hero-img-container{
    margin-right: 50px;
    background-image: url('../../../assets/img/guacamayaBG.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 100% 55%;
}

.aprende-hero-img{
    position: relative;
    width: 100%;
    left: -9%;
}

.aprende-hero-animal{
    position: relative;
    letter-spacing: .2em;
    font-size: 28px;
    margin-bottom: 11px;
    font-weight: 300;
}

a{
    color: white;
    text-decoration: none;
}

.aprende-hero-title{
    font-size: 36px;
    letter-spacing: 3px;
    margin-bottom: 35px;
    font-weight: 700;
}

.aprende-hero-description{
    font-size: 14px;
    letter-spacing: .2em;
    line-height: 1.44;
    font-weight: 300;
}

.aprende-swiper-container{
    position: relative;
    min-height: 750px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-legend{
    position: absolute;
    top: 40px;
    color: black;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 2.8px;
    text-align: center;
    text-transform: uppercase;
    transition: all .2s ease-out;
    padding: 0 30px;
}

.aprende-swiper{
    width: 90%;
    margin-top: 80px;
    overflow: visible;
}

.aprende-academia{
    position: relative;
    border-radius: 40px;
    box-shadow: 0 20px 15px 0 rgba(0,0,0,.3);
    background-image: linear-gradient(180deg,#121d23,#60686c);
    padding: 35px 25px;
    padding-top: 57px;
    text-align: center;
    cursor: pointer;
    transition: .5s;
    margin: 0 25px;
    height: 270px;
}

.aprende-academia:hover{
    margin-top: 20px;
}

.aprende-img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 150px;
    height: 150px;
    border-radius: 30px;
    box-shadow: 0 15px 6px 0 rgba(0,0,0,.16);
    background: #121d23;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    transition: all .2s ease-out;
    top: calc(-75px - 97px);
    overflow: visible;
}

.aprende-img{
    display: block;
    width: 100%;
    height: 100%;
    transition: all .2s ease-out;
}

.aprende-academia-title{
    position: relative;
    top: -120px;
    font-size: 18px;
    line-height: 1.28;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}

.aprende-academia-text{
    position: relative;
    top: -100px;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 1.4px;
    //margin-top: 20px;
}

.info-container{
    background-color: #121D23;
    padding: 100px 10%;
    .info-text{
        font-size: 14px;
        font-weight: 300;
        line-height: 1.8em;
        text-align: center;
        margin-bottom: 50px;
        letter-spacing: .2em;
    }
    h3{
        font-size: 16px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 300;
        margin-bottom: 50px;
        letter-spacing: .2em;
    }
    .steps{
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 90%;
        margin: 0 auto;
        max-width: 750px;
        margin-bottom: 100px;
        .number{
            width: 50px;
            height: 50px;
            flex: 0 0 50px;
            text-align: center;
            border-radius: 50%;
            color: rgba(0,191,181,1);
            background: rgba(0,191,181,.1);
            line-height: 50px;
            font-weight: 400;
            margin-right: 30px;
            font-size: 18px;
            letter-spacing: 0;
        }
    }

    .step{
        display: flex;
        font-weight: 300;
        align-items: center;
        letter-spacing: .2em;
        font-size: 14px;
        line-height: 1.8em;
    }

    .brokers{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 80%;
        min-width: 299px;
        max-width: 1000px;
        margin: 50px auto;
        gap: 100px;
    }
    
    .broker{
        position: relative;
        border-radius: 20px;
        flex: 0 0 120px;
        width: 120px;
        height: 120px;
        box-shadow: 0px 8px 8px rgba(0,0,0,.3);
        line-height: 100px;
        font-size: 40px;
        color: rgba(0,191,181,1);
        font-weight: 700;
        transition: transform .5s;
        cursor: default;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        &:hover{
            transform: scale(1.3);
        }
        img{
            max-width: 100%;
            max-height: 100%;
        }
    }
    
}

.lightGreenText{
    color: rgba(0,191,181,1);
}


/* swiper > .swiper.s-wrapper, swiper, .swiper-container{
    overflow: visible !important;
}

.swiper-container{
    overflow: visible !important;
} */

#footer-mobile{
    position: relative;
    left: 0;
    background-color: rgba(7,11,13,1);
    padding: 70px 0 30px;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

#footer-desktop{
    position: relative;
    left: 0;
    background-color: rgba(7,11,13,1);
    padding: 100px 0 100px;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
}

.footerContainer{
    width: 50%;
    text-align: center;
}

.footer-container-desktop{
    width: 70%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.footer-scroll{
    position: absolute;
    top: -25px;
    right: 150px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footer-scroll i{
    font-size: 30px;
}

.footer-desktop-section{
    margin: 0 50px;
}

.footer-desktop-title{
    text-align: left;
    margin-bottom: 20px;
    letter-spacing: 3px;
}

.footer-desktop-text{
    text-align: left;
    margin-bottom: 15px;
    letter-spacing: 3px;
}

.footer-desktop-text a{
    color: white;
}

.footer-desktop-section i {
    margin-right: 15px;
}

.footer-disclaimer{
    margin-top: 50px;
}

.footerContainer img{
    margin-bottom: 20px;
    width: 40px;
}

.footer-text{
    font-size: 14px;
}

.footerContainer i{
    margin: 50px 5%;
    font-size: 18px;
}

@media only screen and (max-width: 1000px){
    .aprende-hero-container{
        flex-direction: column;
        padding-top: 50px;
    }

    .aprende-hero-description{
        padding-bottom: 50px;
    }

    .aprende-hero-text{
        text-align: center;
    }

    .aprende-hero-description{
        width: 100%;
    }

    .aprende-swiper{
        width: 90%;
    }

    .aprende-academia{
        max-width: none !important;
        width: 70% !important;
        margin-left: 15%;
        margin-right: 7%;
    }

    .aprende-swiper-container{
        height: 800px;
    }

    #footer-mobile{
        display: flex;
    }

    #footer-desktop{
        display: none;
    }

}

@media only screen and (max-width: 450px){
    .aprende-swiper{
        margin-top: 150px;
    }

    .aprende-academia{
        margin-left: 8%;
    }

    #footer{
        height: 300px;
    }
}